# This file is from the github repository https://github.com/github/gitignore 
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temporary files
*~

# Not including builds, libraries and binaries
build/*
lib/*
bin/*

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
makefile*
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QMake files should not be included
*.pro

# Add the spetial makefile
!Makefile.terminal

# VTK output files
*.vti
*.pvti

.cproject
.project
.settings
in-out/IO-test
in-out/geo_test.dat
in-out/SK_geo_mini.dat
*.P
IO-test
html/
latex/
Doxyfile*

input/